In [28]:
#read in in transit/on po data 

import pandas as pd

po_ld = pd.read_csv(r'C:\Users\skhalsa\Desktop\pd_ld_3_30_21_v3.csv')

po_ld.head()

,Vendor Name,P/O Number,P/O Numb,Line Code,Part Number,qty_ord,qty_it,qty_bal,it_dbd,bal_dbd
0,"YANTAI RONGDI INTL TRADE CO., LTD",2-066917-4,2-066917,DRR,121.20014,49,49,0,4/2/2021,NaN
1,"YANTAI RONGDI INTL TRADE CO., LTD",2-066917-4,2-066917,DRR,121.20024,53,53,0,4/2/2021,NaN
2,"YANTAI RONGDI INTL TRADE CO., LTD",2-066917-4,2-066917,DRR,121.34096,22,22,0,4/2/2021,NaN
3,"YANTAI RONGDI INTL TRADE CO., LTD",2-066917-4,2-066917,DRR,121.39038,392,392,0,4/2/2021,NaN
4,"YANTAI RONGDI INTL TRADE CO., LTD",2-066917-4,2-066917,DRR,121.58006,178,178,0,4/2/2021,NaN

In [29]:
#ensure that the data is clean
po_ld.shape

(49318, 10)

In [30]:
#split the dataset between in transit and balance. In this case, establishing the in transit data
po_ld_it = po_ld[['Line Code', 'Part Number', 'it_dbd', 'qty_it',]]

In [31]:
po_ld_it.head()

  Line Code Part Number    it_dbd  qty_it
0       DRR   121.20014  4/2/2021      49
1       DRR   121.20024  4/2/2021      53
2       DRR   121.34096  4/2/2021      22
3       DRR   121.39038  4/2/2021     392
4       DRR   121.58006  4/2/2021     178

In [34]:
#split the items on PO (not yet in transit)
po_ld_bal = po_ld[['Line Code', 'Part Number', 'bal_dbd', 'qty_bal',]]

In [45]:
po_ld_bal.head()

  Line Code Part Number  dbd  qty_bal
0       DRR   121.20014  NaN        0
1       DRR   121.20024  NaN        0
2       DRR   121.34096  NaN        0
3       DRR   121.39038  NaN        0
4       DRR   121.58006  NaN        0

In [51]:
#rename columns before stacking
po_ld_it.rename(columns={'it_dbd': 'dbd', 'qty_it': 'qty'}, inplace=True)
po_ld_bal.rename(columns={'bal_dbd': 'dbd', 'qty_bal': 'qty'}, inplace=True)

In [52]:
#ensure changes were applid
po_ld_it.head()

  Line Code Part Number       dbd  qty
0       DRR   121.20014  4/2/2021   49
1       DRR   121.20024  4/2/2021   53
2       DRR   121.34096  4/2/2021   22
3       DRR   121.39038  4/2/2021  392
4       DRR   121.58006  4/2/2021  178

In [53]:
po_ld_bal.head()

  Line Code Part Number  dbd  qty
0       DRR   121.20014  NaN    0
1       DRR   121.20024  NaN    0
2       DRR   121.34096  NaN    0
3       DRR   121.39038  NaN    0
4       DRR   121.58006  NaN    0

In [54]:
#stack dataframes on top of each other
po_ld_merge = pd.concat((po_ld_it, po_ld_bal), ignore_index=True)

In [55]:
#check the results
po_ld_merge.head()

  Line Code Part Number       dbd  qty
0       DRR   121.20014  4/2/2021   49
1       DRR   121.20024  4/2/2021   53
2       DRR   121.34096  4/2/2021   22
3       DRR   121.39038  4/2/2021  392
4       DRR   121.58006  4/2/2021  178

In [56]:
#ensure the size of the dataset is in line with expectations
po_ld_merge.shape

(98636, 4)

In [57]:
#export to csv
po_ld_merge.to_csv(r'C:\Users\skhalsa\Desktop\po_ld_3_30_21_v3.csv')

array([nan, '4/15/2021', '3/22/2021', '4/14/2021', '4/7/2021',
       '4/12/2021', '4/8/2021', '3/28/2021', '4/24/2021', '4/5/2021',
       '4/9/2021', '4/25/2021', '4/30/2021', '5/4/2021', '3/23/2021',
       '4/3/2021', '4/21/2021', '3/26/2021', '3/24/2021', '4/19/2021',
       '5/15/2021', '4/23/2021', '4/20/2021', '4/10/2021', '4/28/2021',
       '4/1/2021', '4/16/2021', '4/18/2021', '3/21/2021', '3/27/2021',
       '3/29/2021', '3/30/2021', '4/4/2021', '4/6/2021', '5/5/2021',
       '5/13/2021', '3/20/2021', '3/31/2021', '4/2/2021', '4/11/2021',
       '4/13/2021', '4/22/2021', '4/26/2021', '4/27/2021', '4/29/2021',
       '5/1/2021', '5/2/2021', '5/3/2021', '5/6/2021', '5/7/2021',
       '5/8/2021', '5/9/2021', '5/10/2021', '5/11/2021', '5/12/2021',
       '5/14/2021', '5/16/2021', '5/17/2021', '5/18/2021', '5/19/2021',
       '5/20/2021', '5/21/2021', '5/22/2021', '5/23/2021', '5/24/2021',
       '5/25/2021', '5/26/2021', '5/27/2021', '5/28/2021', '5/29/2021',
       '5/30/2021', '5/31/2021', '6/1/2021', '6/2/2021', '6/3/2021',
       '6/4/2021', '6/5/2021', '6/6/2021', '6/7/2021', '6/8/2021',
       '6/9/2021', '6/10/2021', '6/11/2021', '6/12/2021', '6/13/2021',
       '6/14/2021', '6/15/2021', '6/16/2021', '6/17/2021', '6/18/2021',
       '6/19/2021', '6/20/2021', '6/21/2021', '6/22/2021', '6/23/2021',
       '6/24/2021', '6/25/2021', '6/26/2021', '6/27/2021', '6/28/2021',
       '6/30/2021', '7/1/2021', '7/2/2021', '7/3/2021', '7/4/2021',
       '7/5/2021', '7/6/2021', '7/7/2021', '7/8/2021', '7/10/2021',
       '7/12/2021', '7/13/2021', '7/14/2021', '7/15/2021', '7/16/2021',
       '7/18/2021', '7/19/2021', '7/21/2021', '7/22/2021', '7/24/2021',
       '7/27/2021', '7/30/2021', '8/3/2021', '8/11/2021', '8/15/2021',
       '8/30/2021'], dtype=object)

In [24]:
import pandas as pd
import glob

path = r'C:\Users\skhalsa\Desktop\weekly_exp_3_20_21'
all_files = glob.glob(path +"/*.csv")

li = []

for filename in all_files:
   df = pd.read_csv(filename, index_col=None, header=0)
   li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)
frame.to_csv(r'C:\Users\skhalsa\Desktop\3_20_weekly_exp.csv')